<div class="form-section">
    <label for="title">Jídlo</label>
    <input type="text" id="title" name="title" value="<%= meal.title %>">
</div>

<div class="form-section">
    <label for="userType">Typ strávníka</label>
    <select id="userType" name="userType">
        <% userTypes.forEach(userType => { %>
            <option <%= userType.id === meal.userType ? 'selected' : '' %> value="<%= userType.id %>">
                <%= userType.name %>
            </option>
        <% }) %>
    </select>
</div>

<div class="form-section">
    <label for="date">Datum</label>
    <input type="date" id="date" name="date" value="<%= meal.date ? meal.date.toISOString().split("T")[0] : '' %>">
</div>

<div class="form-section">
    <label for="servingNumber">Počet porcí</label>
    <input type="number" id="servingNumber" name="servingNumber" min="1" value="<%= meal.servingNumber %>">
</div>

<div class="form-section">
    <label for="cover">Obrázek jídla</label>
    <div class="filepond-item">
        <input type="file" id="cover" name="cover" class="filepond">
    </div>
</div>

<div class="form-section">
    <label for="description">Popisek</label>
    <textarea id="description" name="description"><%= meal.description %></textarea>
</div>
<!-- <%- //include('../partials/mealGrid', { meals: meals, large: true }) %> -->