<div class="form-section">
    <label>E-mail</label>
    <input type="email" name="email" value="<%= user.email %>" required>
</div>
<div class="form-section">
    <label>Jméno</label>
    <input type="text" name="fname" value="<%= user.fname %>" required>
</div>
<div class="form-section">
    <label>Příjmení</label>
    <input type="text" name="lname" value="<%= user.lname %>" required>
</div>
<div class="form-section">
    <label>Heslo</label>
    <input type="password" name="password" value="<%= user.password %>" required>
</div>
<div class="form-section">
    <label for="userType">Typ strávníka</label>
    <select id="userType" name="userType">
        <% userTypes.forEach(userType => { %>
            <option <%= userType.id === user.userType ? 'selected' : '' %> value="<%= userType.id %>">
                <%= userType.name %>
            </option>
        <% }) %>
    </select>
</div>
<div class="form-section">
    <label>Kredit</label>
    <input type="number" name="credit" value="<%= user.credit %>" required>
</div>