<h2>Strávníci</h2>
<form action="/users" method="GET">
  <div class="form-section">
    <label for="lname">Příjmení</label>
    <input type="text" id="lname" name="lname" value="<%= searchOptions.lname %>">
  </div>  
  <div class="form-section">
    <label for="userType">Typ Strávníka</label>
    <select id="userType" name="userType">
      <option value="">Všechny</option>
      <% userTypes.forEach(userType => { %>
        <option value="<%= userType.id %>" <%= userType.id == searchOptions.userType ? 'selected' : '' %>>
          <%= userType.name %>
        </option>
      <% }) %>
    </select>    
  </div>
  <div class="form-section">
    <button type="submit" class="form-submit">Vyhledat</button>
  </div>
</form>
<br>
<% users.forEach(user => { %>
  <div class="form-section">
    <div class="form-section"><%= user.fname %> <%= user.lname %></div>
    <div class="form-section"><%= user.email %></div>
    <div class="form-section">Typ Strávníka: <%= user.userType.name %></div>
    <div class="form-section">Kredit: <%= user.credit %> Kč</div>
    <a href="/users/<%= user.id %>">Zobrazit</a>
    <a href="/users/<%= user.id %>/edit">Upravit</a>
    <br><br>
    <%- include("../partials/deleteForm", { url: `/users/${user.id}` }) %>
  </div>
  <br>
<% }) %>
