<h2>Strávníci</h2>
<form action="/users" method="GET">
  <label for="lname">Příjmení</label>
  <input type="text" id="lname" name="lname" value="<%= searchOptions.lname %>">
  <button type="submit" class="form-submit">Vyhledat</button>
</form>
<br>
<% users.forEach(user => { %>
  <div>
    <div><%= user.fname %> <%= user.lname %></div>
    <div><%= user.email %></div>
    <div>Kredit: <%= user.credit %> Kč</div>
    <a href="/users/<%= user.id %>">Zobrazit</a>
    <a href="/users/<%= user.id %>/edit">Upravit</a>
    <br><br>
    <%- include("../partials/deleteForm", { url: `/users/${user.id}` }) %>
  </div>
  <br>
<% }) %>
