<div class="user-details">
  <h2><%= user.fname %> <%= user.lname %></h2>
  <h3>E-mail:</h3>
  <div><%= user.email %></div>
  <h3>Kredit:</h3>
  <div><%= user.credit %> Kč</div>
</div>

<div class="user-actions">
  <a href="/users/<%= user.id %>/edit">Upravit</a>
  <%- include("../partials/deleteForm", { url: `/users/${user.id}` }) %>
</div>

<% if (mealsOrderByUser.length > 0) { %>
  <div class="meal-list">
      <h2>Jídla Strávníka</h2>
      <% mealsOrderByUser.forEach(meal => { %>
          <div class="meal-item">
              <img height="150" width="150" src="<%= meal.coverImagePath %>">
              <div><%= meal.title %></div>
              <div><%= meal.formatDayOfWeek() %> - <%= meal.date.getDate() %>.<%= meal.date.getMonth() + 1 %>.<%= meal.date.getFullYear() %></div>
              <div><%= meal.description %></div>
          </div>
      <% }) %>
  </div>
<% } %>
