<h2>Typy strávníků</h2>
<form action="/userTypes" method="GET">
  <label>Název</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Vyhledat</button>
</form>
<br>
<% userTypes.forEach(userType => { %>
  <div><%= userType.name %> [<%= userType.price %> Kč] - [<%= userType.servingPerUserType %> ks]</div>
  <a href="/userTypes/<%= userType.id %>">View</a>
  <a href="/userTypes/<%= userType.id %>/edit">Edit</a>
  <%- include("../partials/deleteForm",
              { url: `/userTypes/${userType.id}` }) %>
<% }) %>