<h2>Jídla pro <%= userType.name %></h2>
<div class="form-section">Cena za porci jídla: <%= userType.price %> Kč</div>
<div class="form-section">
    <a href="/userTypes/<%= userType.id %>/edit">Upravit</a>
</div>
<%- include("../partials/deleteForm", { url: `/userTypes/${userType.id}` }) %>
<br>
<div class="form-section meal">
    <% if (mealsByUserType.length > 0) { %>
        <% mealsByUserType.forEach(meal => { %>
            <div>
                <a href="/meals/<%= meal.id %>">    
                    <div class="meal-item">
                      <img class="meal-image" src="<%= meal.coverImagePath %>" alt="<%= meal.title %>" width="50%">
                      <div class="meal-title"><%= meal.title %></div>
                      <div class="meal-details">
                        <div>Počet porcí: <%= meal.servingNumber %></div>
                        <div><%= meal.formatDayOfWeek() %> - <%= meal.date.getDate() %>.<%= meal.date.getMonth() + 1 %>.<%= meal.date.getFullYear() %></div>
                      </div>
                    </div>
                  </a>
            </div>        
        <% }) %>
    <% } %>
</div>
