<h2>Typy strávníků</h2>
<form action="/userTypes" method="GET">
  <label for="name">Název</label>
  <input type="text" id="name" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Vyhledat</button>
</form>

<div class="user-types">
  <% userTypes.forEach(userType => { %>
    <div class="user-type">
      <%= userType.name %> [<%= userType.price %> Kč] - [<%= userType.servingPerUserType %> ks]
      <a href="/userTypes/<%= userType.id %>">Zobrazit</a>
      <a href="/userTypes/<%= userType.id %>/edit">Upravit</a>
      <%- include("../partials/deleteForm", { url: `/userTypes/${userType.id}` }) %>
    </div>
  <% }) %>
</div>
